.mainCatCard {
  background: var(--grey00);
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 228px;
  position: relative;

  @media(max-width: 991px) {
    min-height: 180px;
    padding: 10px;
  }

  &:hover {
    background-color: var(--grey30);
  }

  &Title {
    max-width: 175px;

    @media(max-width: 1600px) {
      font-size: 18px;
      line-height: 24px;
    }

    &.h6 {
      font-size: 16px;
      line-height: 22px;
    }
  }


  &Img {
    &--sm {
      height: 120px;
      object-fit: contain;

      @media(max-width: 991px) {
        height: 100%;
      }
    }

    &--absolute {
      width: 220px;
      height: 220px;
      object-fit: contain;
      bottom: 0;
      right: 0;
      position: absolute;

      @media(max-width: 1600px) {
        width: 200px;
        height: 200px;
      }

      @media(max-width: 1400px) {
        width: 160px;
        height: 160px;
      }

      @media(max-width: 991px) {
        left: 0;
        margin: auto;
        bottom: 50%;
        transform: translateY(50%);
        height: 120px;
      }
    }
  }

  &--rect {
    &::after {
      content: '';
      position: absolute;
      width: 80px;
      height: 80px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: url('@img/icons/rect-card.svg') no-repeat center center / contain;

      @media(max-width: 991px) {
        width: 56px;
        height: 56px;
      }
    }
  }

  &.mainCatCard--lg-140 {
    @media(max-width: 991px) {
      min-height: 140px;
    }

    @media(max-width: 575px) {
      min-height: 100px;
      height: 100px !important;
    }
  }

}

.mainCatCardTitle-max-stroke {
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  /* Включаем флексбоксы */
  -webkit-box-orient: vertical;

  /* Вертикальная ориентация */
  &.mainCatCardTitle--lg {
    @media(max-width: 991px) {
      display: none;
    }
  }

  &.mainCatCardTitle--sm {
    display: none;

    @media(max-width: 991px) {
      display: -webkit-box;
    }
  }
}

.mainCatCard--intro {
  width: 240px;
  height: 240px;
  flex-shrink: 0;

  .mainCatCardImg {
    left: 0;
    right: 0;
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
  }
}

.catSlider {
  @media(max-width: 575px) {
    overflow: visible;
  }
}

.catSlide {
  height: auto;

  @media(max-width: 991px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .col {
    .mainCatCard {
      height: 100%;

      @media(max-width: 991px) {
        height: auto;
      }
    }
  }
}