.intro {
  &Baner {
    min-height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 575px) {
      background-position: right -30px center;
      min-height: 450px;
      background-size: 600px;
      margin-left: -15px;
      margin-right: -15px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba($color: #000000, $alpha: .4);
      z-index: 1;
    }

    &Top {
      padding: 44px;

      @media(max-width: 991px) {
        padding: 20px;
      }
    }

    &Footer {
      background: rgba(0, 0, 0, 0.6);
      padding: 24px 44px;
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
      position: relative;
      z-index: 1;

      @media(max-width: 991px) {
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        padding-left: 24px;
        padding-right: 24px;
      }

      .introAdvSlide {

        img {
          width: 48px;
        }
      }
    }
  }

  h1 {
    color: #fff;
    position: relative;
    z-index: 1;
    max-width: 560px;
    @media(max-width: 991px){
      max-width: 300px;
    }

    span {
      color: var(--primary);
    }
  }

  &Slider {
    .swiper-pagination {
      position: absolute;
      bottom: 17px;
    }
  }

  &Slide {
    height: 420px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .2s linear;
    @media(max-width: 991px){
      height: 240px;
    }

    &:hover {
      opacity: .85;
    }

    &Num {
      position: relative;
      line-height: 50px;
    }

    &--dark {
      &>* {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #000000, $alpha: .4);
      }
    }
  }
}

.introAdvSlider {

  .swiper-wrapper {
    align-items: center;
    @media(max-width: 991px) {
      flex-direction: column;
      row-gap: 12px;
    }
  }
}

.introBanerImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}